Importing files

In [1]:
import numpy as np
import pandas as pd

file = 'Al alloy raw data T=1000s.csv'

In [3]:
df = pd.read_csv(file)

,time (s),reference,Peltier,x = 0.1cm,x = 2.1cm,x = 6.1cm,x = 14.1cm,x = 30.1cm,x = 62.2cm
0,2,23.695,24.261,23.538,23.507,23.664,24.041,24.355,24.733
1,3,23.915,23.915,23.570,23.538,23.664,24.073,24.355,24.733
2,4,23.947,23.884,23.601,23.538,23.632,24.104,24.355,24.733
3,5,23.632,24.481,23.570,23.570,23.632,24.073,24.355,24.733
4,6,23.821,24.355,23.664,23.570,23.664,24.104,24.355,24.701